{% extends 'base_no_card.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block exted_menu %}
{% for cat in page.wiki_cat %}
	<li class="nav-item"><a class="nav-link" href="{% url 'wiki_tag' cat.cw_titre_slgify %}">{{cat.cw_titre}}</a></li>
{% endfor %}
<li class="nav-item"><a class="nav-link" href="{% url 'wiki_tag' 'all' %}">Tous les pages</a></li>
{% endblock %}

{% block main %}
<div class="card-columns p-3">
		{% for item in page.wiki_art %}
			<p><i class="fas fa-play"></i> <a href="{% url 'wiki_play' item.w_titre_slugify %}">{{item.w_titre|capfirst}}</a></p>
		{% empty %}
			<p>Pas de page de disponible</p>
		{% endfor %}
</div>
{% endblock %}

{% block right_panel %}
{% if page.p_right != "" %}
<div class="card" style="background-color: rgba(250,250,250,0.88);" >
<div class="card-body">
	<form action="" method="get">
		<div class="row align-items-center">
			
			<div class="col-lg-8 col-sm-12">
				{{page.wiki_search|crispy}}
			</div>
			<div class="col mt-sm-1">
				<input type="submit" class="btn btn-success w-100" value="Rechercher">
			</div>
		</div>
	</form>
	<hr>
	{% if page.wiki_art.paginator.num_pages != 1 %}
	<p class="card-text">
	<nav aria-label="...">
		<ul class="pagination justify-content-center">
			{% if page.wiki_art.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page.wiki_art.previous_page_number }}"> << </a>
				</li>
			{% else %}
				<li class="page-item disabled">
					<span class="page-link"> << </span>
				</li>
			{% endif %}
			{% for nw_page in page.wiki_art.nbpage %}
				{% if page.wiki_art.number == forloop.counter %}
					<li class="page-item active" aria-current="page"><span class="page-link">{{forloop.counter}}</span></li>
				{% else %}
					<li class="page-item"><a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
				{% endif %}
			{% endfor %}
			{% if page.wiki_art.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page.wiki_art.next_page_number }}"> >> </a>
				</li>
			{% else %}
				<li class="page-item disabled">
					<span class="page-link"> >> </span>
				</li>
			{% endif %}
		</ul>
	</nav>
	<p>
	{% endif %}
	<p class="card-text">{{page.p_right|safe}}</p>
	{% if page.groupe %}
		<h4> <i class="fas fa-tags"></i> Les Groupes </h4>
		<p class="card-text">
		{% for grp in page.groupe %}
			<a href="{{request.path}}?grp={{grp.g_nom_slugify}}" class="btn btn-dark mb-2" tabindex="-1" role="button" aria-disabled="true">{{grp.g_nom}}</a>
		{% endfor %}
		<a href="{{request.path}}" class="btn btn-dark mb-2" tabindex="-1" role="button" aria-disabled="true">Aucun</a>
	{% endif %}
	<h4> <i class="fas fa-tags"></i> Les Catégories </h4>
	<p class="card-text">
	{% for cat in page.wiki_cat %}
		<a href="{% url 'wiki_tag' cat.cw_titre_slgify %}" class="btn btn-dark mb-2" tabindex="-1" role="button" aria-disabled="true">{{cat.cw_titre}}</a>
	{% endfor %}
	
	{% if page.wiki_filter == True %}
		<a href="{% url 'wiki_index' %}" class="btn btn-danger mb-2" tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-filter text-white"></i> Retirer les filtres</a>
	{% else %}
		<a href="{% url 'wiki_tag' 'all' %}" class="btn btn-dark mb-2" tabindex="-1" role="button" aria-disabled="true">Tous les pages</a>
	{% endif %}

	</p>

	<h4> <i class="fas fa-bomb"></i> Les pages les plus consulté </h4>
	<p class="card-text">
	{% for item in page.wiki_top10 %}
		<i class="far fa-play-circle"></i> <a class="text-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="{{item.w_titre}}" href="{% url 'wiki_play' item.w_titre_slugify %}">{{item.w_titre|truncatechars:40}}</a><br>
	{% endfor %}
	</p>

	{% if page.retour %}
	<p class="card-text">
		<a href="{% url page.retour %}" class="btn btn-dark mb-2" tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-undo-alt"></i> Retour</a>
	</p>
	{% endif %}
	
</div>
</div>
{% endif %}
{% endblock %}
